/* #region Color palette */

:root{
    --bool-dark-bottom-navbar:rgba(34, 34, 34, 1);
    --bool-dark:rgba(74, 74, 74, 1);
    --bool-dark-sheer:rgba(74, 74, 74, 0.596);
    --bool-lighter: rgba(255, 255, 255, 1);
    --bool-darker: rgba(0, 0, 0, 1);
    --bool-danger: red;
}

/* #endregion Color palette */




/* #region Common rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#site_main{
    height: 100vh;
    width: 100%;
    background-color: aqua;
}

.main-container{
    height: 90%;
    background-color: var(--bool-darker);
}

nav{
    height: 10%;
    background-color: var(--bool-dark-bottom-navbar);
}

img{
    width: 100%;
    height: 100%;
}

/* #endregion Common rules */


/* #region debug */

/* .debug .view-actions{
    background-color: aqua;
}
 */
/* .debug .users-container{
    
    background-color: orange;
} */

/* .debug .row{
    height: 20%;
    background-color: aquamarine;
} */

/* .debug .user-card{    
    background-color: red;
    border: 1px solid black;
}
 */
.debug .users-container{    
    height: 90%;
}


/* #endregion debug */


/* #region Speaker-view */

.view-actions{
    display: flex;
    justify-content: end;
    font-size: 1.2rem;
    padding: 1% 0;
}

.speaker-view, .open-view{
    background-color: var(--bool-dark);
    margin-right: 0.5rem;
    color: var(--bool-lighter);
    padding: 0.3rem;
    border-radius: 5px;
}

.users-container{
    width: 90%;
    margin: auto;
    padding: 2rem 0;    
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
    height: calc(100% / 5);
    padding: 0.3rem;
}

.user-card{
    width: 100%;
    position: relative;
}

.username{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--bool-dark-sheer);
    color: var(--bool-lighter);
    padding: 1.5%;
}
