/* #region Color palette */

:root{
    --bool-dark-bottom-navbar:rgba(34, 34, 34, 1);
    --bool-dark:rgba(74, 74, 74, 1);
    --bool-lighter: rgba(255, 255, 255, 1);
    --bool-darker: rgba(0, 0, 0, 1);
    --bool-danger: red;
}

/* #endregion Color palette */




/* #region Common rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#site_main{
    height: 100vh;
    width: 100%;
    background-color: aqua;
}

.main-container{
    height: 90%;
    background-color: var(--bool-darker);
}

nav{
    height: 10%;
    background-color: var(--bool-dark-bottom-navbar);
}

/* #endregion Common rules */


/* debug */

.debug .view-actions{
    background-color: aqua;
}

.debug .users-container{
    
    background-color: orange;
}

.debug .row{
    height: 20%;
    background-color: aquamarine;
}

.debug .user-card{    
    background-color: red;
    border: 1px solid black;
}


.users-container{
    width: 90%;
    margin: auto;
    height: 90%;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;    
}

.user-card{
    width: 100%;
    position: relative;
    padding: 0.2%;
}

img{
    width: 100%;
    height: 100%;
}